* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202020;
}

header {
  background-color: #7e28cf;
  box-shadow: 0px 8px 16px black;
}

.header--title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  fill: white;
  padding: 16px;
}

.header--icon {
  transform: scale(0.75);
}

.header--title {
  font-weight: 500;
  margin: 0;
}

.header--nav {
  display: flex;
  justify-content: center;
  border-top: 1px solid #202020;
  background-color: #571199;
}

.header--nav-button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 12px;
  padding: 8px 8px;
  transition: 0.4s;
  cursor: pointer;
}

.header--nav-button:active {
  color: #202020;
  background-color: white;
}

@media (hover: hover) {
  .header--nav-button {
    transition: 0.4s;
  }

  .header--nav-button:hover {
    color: #202020;
    background-color: white;
  }
}

@media only screen and (min-width: 922px) {
  .header--nav-button {
    font-size: 14px;
  }
}

.header--nav-button--active {
  color: #202020;
  background-color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  color: white;
  background-color: #7e28cf;
}

.footer--copyright {
  margin: 0;
  font-size: 14px;
}

.footer--powered-by {
  margin: 0;
  font-size: 14px;
  text-align: right;
}

.footer--link {
  color: inherit;
  text-decoration: none;
}

.footer--link:hover {
  text-decoration: underline;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 8px 8px 16px black;
  padding: 16px;
  margin: 16px 8px 0px 8px;
  transition: 0.4s;
}

@media (hover: hover) {
  .card:hover {
    background-color: #7e28cf;
    transform: scale(1.05);
    box-shadow: 16px 16px 16px black;
    cursor: pointer;
  }
}

.card--image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;
}

.card--title {
  margin: 0;
  color: white;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: white;
  margin: 16px 8px 0px 8px;
  padding: 16px;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 16px 16px 16px black;
}

.details--image-container {
  width: 100%;
}

.details--image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;
}

@media only screen and (min-width: 768px) {
  .details {
    flex-direction: row;
  }

  .details--image-container {
    width: 35%;
  }

  .details--image {
    height: 400px;
  }

  .details--text-container {
    width: 65%;
  }
}

.details--text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.details--title-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.details--name {
  margin: 0px;
  font-weight: 500;
  font-size: 24px;
}

.details--category {
  background-color: #7e28cf;
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 12px;
  text-align: center;
}

.details--section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0px;
}

.details--section-title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.details--button-container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.details--button, .error--button {
  color: white;
  background-color: #7e28cf;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 8px;
  transition: 0.4s;
  cursor: pointer;
}

.details--button:active, .error--button:active {
  color: #202020;
  background-color: white;
}

@media (hover: hover) {
  .details--button, .error--button {
    transition: 0.4s;
  }

  .details--button:hover, .error--button:hover {
    color: #202020;
    background-color: white;
  }
}

.details--instructions {
  margin: 0;
  font-size: 14px;
  line-height: 1.3;
}

.details--ingredients {
  margin: 0;
  padding-left: 13px;
}

.details--ingredient {
  font-size: 14px;
  margin-bottom: 4px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown--button {
  position: relative;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 14px;
  padding: 8px 0px;
  cursor: pointer;
}

.dropdown--button-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.dropdown--button-icon {
  scale: 0.5;
  fill: white;
}

.dropdown--content {
  display: flex;
  flex-direction: column;
}

.dropdown--content.show {
  display: flex;
}

.dropdown--content.hide {
  display: none;
}

.dropdown-item {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 14px;
  padding: 8px 0px;
  cursor: pointer;
}

.dropdown-item:active {
  color: #202020;
  background-color: white;
}

@media (hover: hover) {
  .dropdown-item {
    transition: 0.4s;
  }

  .dropdown-item:hover {
    color: #202020;
    background-color: white;
  }
}

.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: white;
}

.error--title {
  margin: 0;
  font-size: 64px;
}

.error--emoticons {
  margin: 0;
  font-size: 64px;
}

.error--description {
  margin: 0;
}

.container {
  padding: 0px 8px 16px 8px;
}

.container > .row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.row > [class*='col-'] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .row > .col-s-1 {
    width: 8.33%;
  }
  .row > .col-s-2 {
    width: 16.66%;
  }
  .row > .col-s-3 {
    width: 25%;
  }
  .row > .col-s-4 {
    width: 33.33%;
  }
  .row > .col-s-5 {
    width: 41.66%;
  }
  .row > .col-s-6 {
    width: 50%;
  }
  .row > .col-s-7 {
    width: 58.33%;
  }
  .row > .col-s-8 {
    width: 66.66%;
  }
  .row > .col-s-9 {
    width: 75%;
  }
  .row > .col-s-10 {
    width: 83.33%;
  }
  .row > .col-s-11 {
    width: 91.66%;
  }
  .row > .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .row > .col-m-1 {
    width: 8.33%;
  }
  .row > .col-m-2 {
    width: 16.66%;
  }
  .row > .col-m-3 {
    width: 25%;
  }
  .row > .col-m-4 {
    width: 33.33%;
  }
  .row > .col-m-5 {
    width: 41.66%;
  }
  .row > .col-m-6 {
    width: 50%;
  }
  .row > .col-m-7 {
    width: 58.33%;
  }
  .row > .col-m-8 {
    width: 66.66%;
  }
  .row > .col-m-9 {
    width: 75%;
  }
  .row > .col-m-10 {
    width: 83.33%;
  }
  .row > .col-m-11 {
    width: 91.66%;
  }
  .row > .col-m-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    margin: 0 10% 0 10%;
  }

  .row > .col-l-1 {
    width: 8.33%;
  }
  .row > .col-l-2 {
    width: 16.66%;
  }
  .row > .col-l-3 {
    width: 25%;
  }
  .row > .col-l-4 {
    width: 33.33%;
  }
  .row > .col-l-5 {
    width: 41.66%;
  }
  .row > .col-l-6 {
    width: 50%;
  }
  .row > .col-l-7 {
    width: 58.33%;
  }
  .row > .col-l-8 {
    width: 66.66%;
  }
  .row > .col-l-9 {
    width: 75%;
  }
  .row > .col-l-10 {
    width: 83.33%;
  }
  .row > .col-l-11 {
    width: 91.66%;
  }
  .row > .col-l-12 {
    width: 100%;
  }
}
